Back.jpg
Back2.jpg
Combine.jpg
Combine2.jpg
Combine2.png
Front.jpg
Front1.jpg
Aadhar Pan OCR POC.ipynb
Aadhar Pan OCR POC.ipynb
Aadhar Pan OCR POC.ipynb
Aadhar Pan OCR POC.ipynb
old_requirements.txt
__pycache__/aadhaar_read.cpython-37.pyc
